<div id="<%= dom_id pet %>">
  <p>
    <strong>Species:</strong>
    <%= pet.species %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= pet.name %>
  </p>

  <p>
    <strong>Mood:</strong>
    <%= pet.mood %>
  </p>

  <p>
    <strong>Treat:</strong>
    <%= pet.treat %>
  </p>

  <p>
    <strong>Play:</strong>
    <%= pet.play %>
  </p>

  <p>
    <strong>Talk:</strong>
    <%= pet.talk %>
  </p>

  <p>
    <strong>To pet:</strong>
    <%= pet.to_pet %>
  </p>

  <p>
  <strong>Game ID:</strong>
  <%= pet.game_id %>
</p>

</div>
