<div id="<%= dom_id event %>">
  <p>
    <strong>Img:</strong>
    <%= event.img %>
  </p>

  <p>
    <strong>Dialogue:</strong>
    <%= event.dialogue %>
  </p>

  <p>
    <strong>Option1:</strong>
    <%= event.option1 %>
  </p>

  <p>
    <strong>Option2:</strong>
    <%= event.option2 %>
  </p>

  <p>
    <strong>Option3:</strong>
    <%= event.option3 %>
  </p>

  <p>
    <strong>Option4:</strong>
    <%= event.option4 %>
  </p>

</div>
