<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :img, style: "display: block" %>
    <%= form.text_field :img %>
  </div>

  <div>
    <%= form.label :dialogue, style: "display: block" %>
    <%= form.text_area :dialogue %>
  </div>

  <div>
    <%= form.label :option1, style: "display: block" %>
    <%= form.text_field :option1 %>
  </div>

  <div>
    <%= form.label :option2, style: "display: block" %>
    <%= form.text_field :option2 %>
  </div>

  <div>
    <%= form.label :option3, style: "display: block" %>
    <%= form.text_field :option3 %>
  </div>

  <div>
    <%= form.label :option4, style: "display: block" %>
    <%= form.text_field :option4 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
