<div id="<%= dom_id game %>">
  <p>
    <strong>User:</strong>
    <%= game.user %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= game.day %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= game.event %>
  </p>

  <p>
    <strong>Energy:</strong>
    <%= game.energy %>
  </p>

  <p>
    <strong>Pet:</strong>
    <%= game.pet %>
  </p>

</div>
